@font-face {
	font-family: Helvetica;
	src: url(fonts/Helvetica-Normal.ttf);
}

@font-face {
	font-family: Mustang;
	src: url(fonts/Mustang.otf);
}

@font-face {
	font-family: EightBitWonder;
	src: url(fonts/EightBitWonder.ttf);
}

p {
	font-family: EightBitWonder;

	color: white;
	-webkit-user-select: none;
	-moz-user-select: none;
}

a {
	text-decoration: none;
}

html {
  background-image: url("img/background.png");
  background-repeat: repeat;
  background-color: black;
}

.logo {
	margin-top: 20px;
	width: 300px;

}

.big-text {
	font-size: 100px;
	margin-bottom: 35px;
	text-shadow: 10px 10px 15px red;
}

.small-text {
	font-size: 14px;
	margin-bottom: 35px;
}

.social-media-button {
	margin-top: 50px;
	width: 40px;
	margin-right: 10px;
}

.footer-text {
	margin-top: 50px;
	font-size: 11px;
	font-family: courier new,courier-ps-w01,courier-ps-w02,courier-ps-w10,monospace;

	color: #cccccc;
	-webkit-user-select: none;
	-moz-user-select: none;
}